services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    env_file:
      - ./.env
    ports:
      - "5672:5672" 
      - "15672:15672" 
    environment:
      RABBITMQ_DEFAULT_USER: pserrano     
      RABBITMQ_DEFAULT_PASS: 1234339827
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - rabbitmq_logs:/var/log/rabbitmq
      - ./RabbitMq/definitions.json:/etc/rabbitmq/definitions.json
    networks:
      - rabbit_test_network

  actsis_service_hook:
    container_name: actsis_service_hook  # Corrige la indentación aquí
    restart: always
    build:
      context: ./ActsisServiceHook
      dockerfile: Dockerfile 
      target: final
    ports:
      - '8080:8080'
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - rabbit_test_network

  # sync_sgi_azure_worker:
  #   container_name: sgi_azure_worker
  #   build:
  #     context: ./SyncSgiAzureWorker
  #     dockerfile: Dockerfile
  #     target: final
  #   networks:
  #     - rabbit_test_network

  mysqldb:
    image: mysql
    container_name: mysqldb
    restart: always
    env_file:
      - ./.env
    ports:
      - $MYSQL_PORT:3306
    environment:
      MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
      MYSQL_DATABASE: SGI_AZURE
    volumes:
      - 'mysql-data:/var/lib/mysql'
      - './SgiDatabase/MySql:/docker-entrypoint-initdb.d'
    networks:
      - rabbit_test_network

  phpmyadmin:
    depends_on:
      - mysqldb
    image: phpmyadmin
    container_name: phpmyadmin
    restart: always
    env_file:
      - ./.env
    ports:
      - $PHPMYADMIN_PORT:80
    environment:
      PMA_HOST: $MYSQL_HOST
      MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
    networks:
       - rabbit_test_network

  oracle:
    image: doctorkirk/oracle-19c
    restart: always
    container_name: oracledb
    env_file:
      - ./.env
    ports:
      - "1524:1521"
    environment:
      ORACLE_PWD: 'oracle'
      PASS: 'oracle'
    volumes:
      - oracle_data:/opt/oracle/oradata
      # - ./SgiDatabase/Backups/ACTPRU01:/opt/oracle/admin/ORCLCDB/dpdump
    networks:
      - rabbit_test_network

volumes:
  rabbitmq_data:
  rabbitmq_logs:
  oracle_data:
  mysql-data:
    driver: local

networks:
  rabbit_test_network:
    driver: bridge
